#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with autoreconf

override_dh_installinfo:
	dh_installinfo
	rm -f \
		$(CURDIR)/debian/robotfindskitten/usr/share/info/dir \
		$(CURDIR)/debian/robotfindskitten/usr/share/info/dir.gz \
		$(CURDIR)/debian/robotfindskitten/usr/share/info/dir.old \
		$(CURDIR)/debian/robotfindskitten/usr/share/info/dir.old.gz \
